
/* Navbar */
.dark .bg-nav.scrolled {
  background: #0D1B2A !important;
  box-shadow: var(--mdb-navbar-box-shadow);
}
.dark .navbar img{
  filter: invert(0.9);
}

/* Hero */
.dark #hero {
  background: linear-gradient(to bottom left, #273748, #021526) !important;
}
.dark #hero h1{
  color: #FFFFFF;
}
.dark #hero p{
  color: #FFFFFF;
}
.dark #hero a{
  color: #FFFFFF;
}

/* Statistic */
.dark #statistic{
  background: linear-gradient(to bottom right, #021526, #273748) !important;
}
.dark #statistic .card{
  border: 1px solid #2E4057;
  background-color: #1B263A;
  box-shadow: none !important;
}
.dark #statistic .h4{
  color:#FFFFFF !important;
}
.dark #statistic p{
  color:#778DA9;
}
